{%load static%}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
               <h3>Skinite Našu Aplikaciju za Andorid i IOS uređaje.</h3>
                <div class="app-logo">
                    <p><a href="https://www.googleplay.com/"><img src="{% static 'images/images/play-store.png' %}"></a></p>
                    <p><a href="https://www.appstore.com/"><img src="{% static 'images/images/app-store.png' %}"></a></p>
                </div>
            </div>
            <div class="footer-col2">
                <a href="home"><img src="{% static 'images/images/logoooo.png' %}"></a>
                <p>Naš cilj je da uživate u potpunom opuštanju.</p>
            </div>
            <div class="footer-col3">
               <h3>Korisni Linkovi</h3>
                <ul>
                    <a href="coupons"><li>Vaučeri</li></a>
                    <a href="#"><li>Blog</li></a>
                    <a href="#"><li>Vraćanje Proizvoda</li></a>
                    <a href="#"><li>Pridruži nam se</li></a>
                </ul>
            </div>
            <div class="footer-col4">
               <h3>Pratite Nas</h3>
                <ul>
                    <a href="https://www.facebook.com"><li>Facebook</li></a>
                    <a href="https://www.twitter.com"><li>Twitter<li></a>
                    <a href="https://www.instagram.com"><li>Instagram</li></a>
                    <a href="https://www.youtube.com"><li>YouTube</li></a>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    
</div>