{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
</head>
<body style="background: radial-gradient(#d6acb1,#b04c65)">
       <div class="container">
          <div class="navbar">
              <div class="logo">
                <a href="home"><img class="slikica" src="{% static 'images/images/logoooo.png'%}" width="150px"></a>
              </div>
              <nav>
                <ul id="MenuItems">
                    <li><a href="home">Home</a></li>
                    <li><a href="products">Proizvodi</a></li>
                    <li><a href="about">O nama</a></li>
                    <li><a href="coupons">Vaučeri</a></li>
                    <li><a href="account">Profil</a></li>
                </ul>
              </nav>
              <a href="cart"><img src="{% static 'images/images/cart.png'%}" width="30px" height="30px"></a>
              <img src="{% static 'images/images/menu.png'%}" onclick="menutoggle()" class="menu-icon">
          </div>
          
       </div>
       
       
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img class="vaucerimg" src="{% static 'images/images/exclusive.jpg'%}" width="100%" id="ProductImg">
            
        </div>
        <div class="col-2">
            <p>Home / Vaučeri</p>
            <h1>Poklon Vaučer Masaža</h1>
            <h4>25KM</h4>
            
            <input type="number" value="1">
            <a href="cart" class="btn-det">Dodaj u Korpu</a>
            
            <h3>Detalji <i class="fa fa-indent"></i></h3>
            <br>
            <p>Obradujte najblize uz Healing masažu!</p>
        </div>
    </div>
</div>

<div class="small-container">
   <div class="row row-2">
       <h2>Slični Proizvodi</h2>
   </div>
    
</div>
    

<div class="small-container">
         
             <div class="row">
               <div class="col-4">
                <a href="poklon-vaucer-masaza-facial"><img class="" src="{% static 'images/images/exclusive.jpg'%}"></a>
                   <h4><a href="poklon-vaucer-masaza-facial">Poklon Vaučer Masaža + Facial</h4></a>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-o"></i>
                   </div>
                   <p>50KM</p> 
               </div> 
               <div class="col-4">
                <p><a href="poklon-vaucer-masaza-facial-fullbodystretch"><img class="vaucerimg" src="{% static 'images/images/exclusive.jpg'%}"></a></p>
                <a href="poklon-vaucer-masaza-facial-fullbodystretch"><h4>Poklon Vaučer Masaža + Facial + Full Body Stretch</h4></a>
                   <div class="rating">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star-half-o"></i>
                   </div>
                   <p>100KM</p>
               </div> 
           </div>
           
       </div>
  
    

{%include 'footer.html'%}


<script>
    
    var MenuItems = document.getElementById("MenuItems");
    
    MenuItems.style.maxHeight = "0px";
    
    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            } 
    }
    
    
    var ProductImg = document.getElementById("ProductImg");
    
    var SmallImg = document.getElementsByClassName("small-img");
       
 
        SmallImg[0].onclick = function()
        {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function()
        {
            ProductImg.src = SmallImg[1].src;
        
        }
        SmallImg[2].onclick = function()
        {
            ProductImg.src = SmallImg[2].src;
        
        }
        SmallImg[3].onclick = function()
        {
            ProductImg.src = SmallImg[3].src;
        
        }

    
    
    
</script>



</body>
</html>