{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
</head>
<body style="background: radial-gradient(#d6acb1,#b04c65)">
       <div class="container">
          <div class="navbar">
              <div class="logo">
                <a href="home"><img class="slikica" src="{% static 'images/images/logoooo.png'%}" width="150px"></a>
              </div>
              <nav>
                <ul id="MenuItems">
                    <li><a href="home">Home</a></li>
                    <li><a href="products">Proizvodi</a></li>
                    <li><a href="about">O nama</a></li>
                    <li><a href="coupons">Vaučeri</a></li>
                    <li><a href="account">Profil</a></li>
                </ul>
              </nav>
              <a href="cart"><img src="{% static 'images/images/cart.png'%}" width="30px" height="30px"></a>
              <img src="{% static 'images/images/menu.png'%}" onclick="menutoggle()" class="menu-icon">
          </div>
          
          
       </div>
       
       
<div class="accout-page">
    <div class="container">
  
       <div class="row">
         
          <div class="col-22">
             <img class="accslika" src="{% static 'images/images/mainslikica.png' %}" width="100%">
          </div>
          
           <div class="">
              <div class="form-container">
                 <div class="form-btn">
                     <span onclick="login()">Registracija</span>
                     <hr id="indicator">
                 </div>
                 
                 <form method="post" id="RegistrationForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                    <button type="submit" class="btn">Register</button>
                   <a href="account"><br>Već imate račun? Prijavite se!</a>
               </form>

              </div>
           </div>
       </div>
</div>
</div>


{%include 'footer.html'%}


<script>
    var MenuItems = document.getElementById("MenuItems");
    
    MenuItems.style.maxHeight = "0px";
    
    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            } 
    }
     
</script>

    
    
    
</body>
</html>

