{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head.html'%}
</head>
<body style="background: radial-gradient(#d6acb1,#b04c65)">
       <div class="container">
          <div class="navbar">
              <div class="logo">
                <a href="home"><img class="slikica" src="{% static 'images/images/logoooo.png'%}" width="150px"></a>
              </div>
              <nav>
                <ul id="MenuItems">
                    <li><a href="home">Home</a></li>
                    <li><a href="products">Proizvodi</a></li>
                    <li><a href="about">O nama</a></li>
                    <li><a href="coupons">Vaučeri</a></li>
                    <li><a href="account">Profil</a></li>
                </ul>
              </nav>
              <a href="cart"><img src="{% static 'images/images/cart.png'%}" width="30px" height="30px"></a>
              <img src="{% static 'images/images/menu.png'%}" onclick="menutoggle()" class="menu-icon">
          </div>
          
       </div>
       
       
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img class="main-detail-slika" src="{% static 'images/images/proizvod5.jpg'%}" width="100%" id="ProductImg">
        </div>
        <div class="col-2">
            <p>Home</p>
            <h1>Setovi Difuzora Aromatične Trske</h1>
            <h4>50KM</h4>
            
            <input type="number" value="1">
            <a href="cart" class="btn-det">Dodaj u Korpu</a>
            
            <h3>Detalji <i class="fa fa-indent"></i></h3>
            <br>
            <p>Setovi difuzora aromatične trske pomažu vam da stvorite toplu i privlačnu atmosferu u vašem domu i spa centru.</p>
        </div>
    </div>
</div>

<div class="small-container">
   <div class="row row-2">
       <h2>Slični Proizvodi</h2>
       
   </div>
    
</div>
    

<div class="small-container">
         
    <div class="row">
       <div class="col-4">
       <div class="nema">
       <p><a href="lemon-essential-oil"><img class="main-detail-slikaa" src="{% static 'images/images/proizvod2.jpg'%}"></a></p>
       <a href="lemon-essential-oil"></a><h4>Lemon Essential Oil</h4>
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
          </div>
          <p>11KM</p>
      </div> 
       </div>
      <div class="col-4">
       <a href="avokado-ulje"><img  src="{% static 'images/images/proizvod9.jpg'%}"></a>
          <h4><a href="avokado-ulje"></a>Avokado Ulje</h4>
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
          </div>
          <p>25KM</p> 
      </div> 
      
      <div class="col-4">
       <a href="kokosovo-ulje"><img  src="{% static 'images/images/proizvod11.jpg'%}"></a>
          <h4><a href="kokosovo-ulje"></a>Kokosovo Ulje</h4>
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
          </div>
          <p>60KM</p>
      </div> 
       <div class="col-4">
           <a href="etericno-ulje-bosiljka"><img class="main-detail-slika" src="{% static 'images/images/proizvod12.jpg'%}"></a>
          <h4><a href="etericno-ulje-bosiljka"></a>Eterično Ulje Bosiljka</h4>
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
          </div>
          <p>33KM</p>
      </div> 
  </div>
  
</div>
  
    

{%include 'footer.html'%}


<script>
    
    var MenuItems = document.getElementById("MenuItems");
    
    MenuItems.style.maxHeight = "0px";
    
    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            } 
    }
    
    
    var ProductImg = document.getElementById("ProductImg");
    
    var SmallImg = document.getElementsByClassName("small-img");
       
 
        SmallImg[0].onclick = function()
        {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function()
        {
            ProductImg.src = SmallImg[1].src;
        
        }
        SmallImg[2].onclick = function()
        {
            ProductImg.src = SmallImg[2].src;
        
        }
        SmallImg[3].onclick = function()
        {
            ProductImg.src = SmallImg[3].src;
        
        }

    </script>